{% extends "base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

{% if request.user.is_staff %}

<section id="enter-destination-details" class="mt-6 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="image-container">
                    <img src="{% static 'images/map-brazil-hearts-1000x1500-compress.webp'%}" alt="" class="img-fluid d-none d-lg-block">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-container">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

<section id="destination-list">
    <div class="container">
        <div class="row">
            {% for destination in destinations %}
                <div class="col-md-4">
                    <a data-bs-toggle="modal" data-bs-target="#modal-destination-info">
                        <div class="destination-city-mini card border-0 text-center h-100">
                            <img class="card-img-top img-fluid img-size-consistent" 
                            src="{{ destination.image.url }}" alt="{{ destination.name }}"
                            destination_id="{{ destination.id }}" destination_slug="{{ destination.slug }}"
                            destination_summary="{{ destination.summary}}"
                            >
                            <div id="destination-city{{destination.id}}" class="card-body">
                                {{destination.city}}
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'update_destination' destination.id destination.slug %}" class="btn btn-primary">Update</a>
                                <a href="" class="btn btn-primary">Delete</a> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor%}    
        </div>
    </div>
</section>

<!-- Destination Info Modal -->

<div id="modal-destination-info" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
        <div class="modal-content bg-primary p-5">
            <div class="row">
                <div class="col-12">
                    <div class="destination-container d-flex flex-column justify-content-between h-100">
                        <div class="d-flex justify-content-between">
                            <h1 id="destination-city"></h1>
                            <a id="trip-ideas" href="" class="btn btn-primary">Trip Ideas</a>      
                        </div>
                        
                        <img id="destination-image" src="" alt="" class="img-fluid">
                        <p id="destination-summary"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-light" data-bs-dismiss="modal">Close</button> 
                </div>    
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block extras %}
    <script src="{% static 'js/solo-display-modals.js' %}"></script>
{% endblock extras %}