{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<section id="login" class="mt-7">
  <div class="container">
    <div class="row mb-2">
      <div class="action-title d-flex justify-content-between p-2">
        <h3 class="display-6"><span><i class="fa-solid fa-user"></i>&nbsp&nbsp</span>{% trans "Sign In" %}</h3>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <p class="lead">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="fw-bold">sign up</a>{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="form-container rounded bg-primary p-4">
          {% crispy form %}  
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
