{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<!-- Sign Up Info -->
<section id="signup"
         class="mt-7">
  <div class="container">
    <div class="row mb-2">
      <div class="action-title d-flex justify-content-between p-2">
        <h2 class="display-6"><span><i class="fa-solid fa-user-plus"></i>&nbsp&nbsp</span>{% trans "Sign Up" %}</h2>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <p class="lead">{% blocktrans %}Already have an account? Then please
          <a href="{{ login_url }}"
             class="fw-bold link-transform">log in</a>{% endblocktrans %}
        </p>
      </div>
    </div>
    <!-- Sign Up Form -->
    <div class="row">
      <div class="form-container medium-w-75">
          {% crispy form %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
