{% extends "base.html" %}
{% block head_title %} Home {% endblock %}
{% block content %}

<!-- Header -->
<header class="header position-relative mb-5">
  <div class="container">
    <div class="hero-image">
      <div class="row h-100">
        <div class="col-lg-6 text-white">
          <div id="hero-text"
               class="text-container pt-6 pb-4 px-4 d-flex flex-column gap-4 h-100 align-items-center">
            <h2 class="display-3 text-center">Make<br><span class="fw-bold replace-me map-pin">Plans</span></h2>
            <a href="{% if request.user.is_staff %} {% url 'locations' %} {% elif user.is_authenticated %} {% url 'trip_list' %} {% else %} {% url 'account_signup' %} {% endif %}"
               class="btn btn-primary text-white button-link">{% if request.user.is_staff %}Add Destinations{% elif user.is_authenticated %}Get Started{% else %}Sign Up{% endif %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Site Goals -->
<section id="site-goals">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card border-0 bg-secondary h-100">
          <div class="card-body">
            <div class="card-title text-center">
              <i class="fa-solid fa-plane-departure fa-2x pb-3"></i>
              <h3>Inspiration</h3>
            </div>
            <p class="card-text text-center">Find travel inspiration by exploring destinations that will ignite your wanderlust and spark 
              your own travel ideas.  The world is full of wonders, and it's time to discover them all.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card border-0 bg-secondary h-100">
          <div class="card-body">
            <div class="card-title text-center">
              <i class="fa-solid fa-list-check fa-2x pb-3"></i>
              <h3>Planning</h3>
            </div>
            <p class="card-text text-center">Browse recommended places from a 
              diverse selection of destinations and add them to your own trip.  
              Reviews from fellow travellers will provide valuable 
              insights into the must-see attractions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card border-0 bg-secondary h-100">
          <div class="card-body">
            <div class="card-title text-center">
              <i class="fa-solid fa-camera-retro fa-2x pb-3"></i>
              <h3>Memories</h3>
            </div>
            <p class="card-text text-center">One of the best ways to keep the memories
              alive is by storing your trips, images, and reviews as a reminder
              of your travels.  If you return to a destination, you will have all of this 
              information to hand.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Destination Ideas Carousel -->
<section id="destination-ideas">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h3>Find Your Perfect Destination...</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <div id="destinations-carousel"
             class="carousel slide"
             data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for destination in destinations %}
              <div class="carousel-item align-items-center {% if forloop.first %} active {% endif %}">
                <div class="w-50 mx-auto">
                  <!-- Include destination_cards template -->
                  {% include 'includes/destination_cards.html' %}
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- Carousel Buttons -->
          <button class="carousel-control-prev"
                  type="button"
                  data-bs-target="#destinations-carousel"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next"
                  type="button"
                  data-bs-target="#destinations-carousel"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'includes/destination_modal.html' %}

{% endblock %}

{% block extras %}
{% load static %}

<script src="{% static 'js/hero-text-replace.js' %}"></script>
<script src="{% static 'js/solo-display-modals.js' %}"></script>

{% endblock extras %}