{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="header position-relative mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white">
        <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
          <h1 class="xl-text mt-5">
            Make
            <span class="text-secondary fw-bold replace-me"
              >Plans</span
            >
          </h1>
          <p class="lead">
            Where will you go next??
          </p>
          <a href="#" class="btn btn-primary text-white">Start Planning</a>
        </div>    
      </div>
    </div>
  </div>
</header>

<section id="site-goals">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex flex-column gap-4">
        <i class="fa-solid fa-plane-departure fa-xl"></i>
        <h3 class="fw-bold">Be Inspired</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ab nobis, eaque recusandae ut minus? Consequuntur, ipsam vitae laboriosam officiis eum iste amet minus. Reiciendis ut magni necessitatibus repudiandae nihil.lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ipsa consectetur neque eaque vel assumenda animi natus nulla. Consectetur nihil cum explicabo laboriosam vitae distinctio asperiores sapiente voluptatem exercitationem veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui dolores et error unde, recusandae numquam vitae. Quas, quidem soluta iusto minima sit repudiandae nisi maiores, nostrum dolores suscipit eaque?</p>
      </div>
      <div class="col-md-4 d-flex flex-column gap-4">
        <i class="fa-solid fa-list-check fa-xl"></i>
        <h3 class="fw-bold">Build Itineraries</h3> 
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ab nobis, eaque recusandae ut minus? Consequuntur, ipsam vitae laboriosam officiis eum iste amet minus. Reiciendis ut magni necessitatibus repudiandae nihil.lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ipsa consectetur neque eaque vel assumenda animi natus nulla. Consectetur nihil cum explicabo laboriosam vitae distinctio asperiores sapiente voluptatem exercitationem veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui dolores et error unde, recusandae numquam vitae. Quas, quidem soluta iusto minima sit repudiandae nisi maiores, nostrum dolores suscipit eaque?</p>
      </div>
      <div class="col-md-4 d-flex flex-column gap-4">
        <i class="fa-solid fa-mountain-city fa-xl"></i>
        <h3 class="fw-bold">Do Your Research</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ab nobis, eaque recusandae ut minus? Consequuntur, ipsam vitae laboriosam officiis eum iste amet minus. Reiciendis ut magni necessitatibus repudiandae nihil.lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ipsa consectetur neque eaque vel assumenda animi natus nulla. Consectetur nihil cum explicabo laboriosam vitae distinctio asperiores sapiente voluptatem exercitationem veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem qui dolores et error unde, recusandae numquam vitae. Quas, quidem soluta iusto minima sit repudiandae nisi maiores, nostrum dolores suscipit eaque?</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}