{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="header position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt-5">
          <h1 class="xl-text mt-5">
            Make
            <span class="text-primary fw-bold replace-me"
              >Plans</span
            >
          </h1>
          <p class="lead">
            Where will you go next??
          </p>
          <a href="#" class="btn btn-primary text-white">Start Planning</a>
        </div>
      </div>
    </div>
  </header>

{% endblock %}