{% extends "base.html" %}
{% block head_title %} Profile {% endblock %}
{% block content %}

{% load static%}
{% load crispy_forms_tags %}

<!-- Profile Info -->
<section id="enter-profile-details"
         class="mt-7">
  <div class="container">
    <div class="row mb-4 medium-w-75">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="image-container p-2 align align-self-center">
          {% if request.user.profile.screen_name %}
            {% if 'placeholder' in profile.profile_image.url %}
              <img src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                  alt="Inflatable globe with two eyes stuck on"
                  class="img-fluid rounded-circle"
                  width="250px">
            {% else %}
              <img src="{{ profile.profile_image.url }}"
                  alt="picture of {{ profile.screen_name }}"
                  class="img-fluid rounded-circle"
                  width="250px">
            {% endif %}
            <p class="text-center fst-italic p-2">
              {{ profile.screen_name}}</p>
          {% else %}
            <img src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                alt="Inflatable globe with two eyes stuck on"
                class="img-fluid rounded-circle"
                width="250px">
            <p class="text-center fst-italic p-2">
              {{ request.user.username }}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6">
        {% if request.user.profile.screen_name %}
          <div class="profile-bio card border-0 bg-secondary">
            <div class="card-body">
              <p class="lead fst-italic">
                {{profile.about}}
              </p>
            </div>
          </div>
        {% else %}
          <div class="image-container d-none d-lg-block">
            <img src="{% static 'images/question-mark-1500x1000-compress.webp' %}"
                alt="White question mark on a black board"
                class="img-fluid">
          </div>
        {% endif %}
      </div>
    </div>
    <!-- Enter or Update Profile Details -->
    <div class="row">
      <h2 class="display-6 text-center">
        {% if request.user.profile.screen_name %} Update Your Details {% else %} Enter Your Details {% endif %}
      </h2>
      <hr />
    </div>
    <div class="row mb-4">
        <!-- Profile Form -->
        <div id="form-container" class="medium-w-75" data-form_purpose="{% if request.user.profile.screen_name %}update{% else %}create{% endif %}">
          {% crispy form %}
        </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extras %}

<script src="{% static 'js/forms.js' %}"></script>

{% endblock extras %}

