{% extends "base.html" %}
{% block head_title %} Profile {% endblock %}
{% block content %}

{% load static%}
{% load crispy_forms_tags %}

<!-- Profile Info -->
<section id="enter-profile-details"
         class="mt-7">
  <div class="container">
    <div class="row mb-5 medium-w-75">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="image-container p-2 align align-self-center">
          {% if request.user.profile.screen_name %}
            {% if 'placeholder' in profile.profile_image.url %}
              <img src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                  alt="Inflatable globe with two eyes stuck on"
                  class="img-fluid rounded-circle"
                  width="250">
            {% else %}
              <img src="{{ profile.profile_image.url }}"
                  alt="picture of {{ profile.screen_name }}"
                  class="img-fluid rounded-circle"
                  width="250">
            {% endif %}
            <h2 class="text-center text-lowercase p-2 m-0">
              {{ profile.screen_name}}</h2>
          {% else %}
            <img src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                alt="Inflatable globe with two eyes stuck on"
                class="img-fluid rounded-circle"
                width="250">
            <h2 class="text-center text-lowercase p-2 m-0">
              {{ request.user.username }}</h2>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="profile-bio card border-0 bg-secondary h-100">
            <div class="card-body d-flex flex-column text-center justify-content-center">
              {% if request.user.profile.screen_name %}
                <p class="lead fst-italic">
                  {{profile.about}} 
              {% else %}
                  <p class="lead fst-italic">"Without mysteries, life would be very dull indeed. What would be left to strive for if everything were known?"</p>
                  <p class="lead fw-semibold m-0">~ Charles de Lint</p>
              {% endif %}
              </p>
            </div>
          </div>
      </div>
    </div>
    <!-- Enter or Update Profile Details -->
    <div class="row">
      <h3 class="text-center">
        {% if request.user.profile.screen_name %} Update Your Details {% else %} Enter Your Details {% endif %}
      </h3>
      <hr>
    </div>
    <div class="row mb-5">
        <!-- Profile Form -->
        <div id="form-container" class="medium-w-75" data-form_purpose="{% if request.user.profile.screen_name %}update{% else %}create{% endif %}">
          {% crispy form %}
        </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extras %}

<script src="{% static 'js/forms.js' %}"></script>

{% endblock extras %}

