{% extends "base.html" %}
{% block head_title %} Your Images {% endblock %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}


<!-- Image Upload -->
<section id="image-upload"
         class="mt-6 mb-5">
  <div class="container">
    <div class="row mb-2">
      <div class="action-title d-flex justify-content-between align-items-center p-2">
        <h2 class="mb-0">
          <span class="pb-3 d-block d-lg-inline">
            <i class="fa-solid fa-camera"></i>&ensp;
          </span>Add an image for {{ place.name }}
        </h2>
        <a class="btn btn-dark button-link align-self-center "
           href="{% url 'trip_detail' trip.slug trip.id %}">
          <span>
            <i class="fa-solid fa-left-long"></i>&ensp;
          </span>Your&nbsp;Trip
        </a>
      </div>
      <hr>
    </div>
    <div class="row mb-4">
      <!-- Image Upload Form -->
      <div class="col-lg-5">
          {% crispy form %}
      </div>
      <!-- Image Upload Form Ends -->
      <div class="col-lg-7">
        <div class="image-container">
          <img src="{% static 'images/slr-camera-1500x1000-compress.webp' %}"
               alt="An SLR camera on a table next to a straw hat, sunglasses and an orange juice"
               class="img-fluid rounded d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>
</section>

{% if request.user.profile.images.count > 0 %}
<!-- User Image Gallery -->
<section id="image-gallery">
  <div class="container">
    <div class="row">
      <h2 class="action-title">
        <span class="pb-3 d-block d-lg-inline">
          <i class="fa-solid fa-image"></i>&ensp;
        </span>Your Image Gallery
      </h2>
      <hr>
    </div>
    {% for place in trip.places.all %}
        <div class="row">
          <div class="col-12 d-flex justify-content-between align-items-center bg-secondary rounded p-2 action-title m-0">
            <h3 class="m-0 fs-4">{{ place.name }}</h3>
            <a href="{% url 'add_image' trip.slug trip.id place.id %}"
              class="fs-4 mb-0">
              <span><i class="fa-solid fa-circle-plus link-transform"></i>&ensp;</span>Add Images
            </a>
          </div>
        </div>
        <div class="row mt-4">
          {% for image in place.images.all %}
            {% if image.profile == request.user.profile %}
              <div class="col-md-4 mb-4">
                <div class="card border-0 bg-secondary text-center h-100">
                  <button data-bs-toggle="modal"
                          data-bs-target="#modal-image-solo"
                          class="border-0">
                    {% if 'placeholder' in image.path.url %}
                      <img src="{% static 'images/world-map-plane-1500x1000-compress.webp' %}"
                          alt="A toy plastic aeroplane pushed across a world map"
                          class="card-img-top img-fluid image-solo img-size-consistent image-clickable">
                    {% else %}
                      <img src="{{ image.path.url }}"
                          alt="{{ image.place.name }}"
                          class="card-img-top img-fluid image-solo img-size-consistent image-clickable">
                    {% endif %}
                </button>
                  {% if user.is_authenticated and image.profile.id == user.profile.id %}
                    <div class="card-body py-2">
                      <button class="btn btn-delete"
                              data-target_id="{{ image.id }}"
                              data-task="delete_image"
                              data-bs-toggle="modal"
                              data-bs-target="#modal-delete-confirm"
                              aria-label="Delete this image"><i
                          class="fa-solid fa-trash-can fa-2x link-transform"></i></button>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
          {% endfor %}
        </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<!-- Delete Confirm Modal Included -->
{% include 'includes/delete_confirm_modal.html' %}

<!-- Image Solo Modal Included -->
{% include 'includes/image_solo_modal.html' %}

{% endblock %}

{% block extras %}
{% load static %}

<script src="{% static 'js/delete-confirm-modals.js' %}"></script>
<script src="{% static 'js/solo-display-modals.js' %}"></script>
<script src="{% static 'js/file-upload.js' %}"></script>

{% endblock extras %}