{% extends "base.html" %}
{% block head_title %} About Your Trip {% endblock %}
{% block content %}

{% load static%}
{% load crispy_forms_tags %}

<!-- Enter Trip Details -->
<section id="enter-trip-details"
         class="mt-7">
  <div class="container">
    <div class="row">
      <h2 class="display-6">
        {% if request.resolver_match.url_name == 'update_trip' %} Update Trip Details {% else %} Enter Trip Details {% endif %}
      </h2>
      <hr>
    </div>
    <div class="row mb-4">
      <!-- Trip Form -->
        <div id="form-container" class="medium-w-75" data-form_purpose="{% if request.resolver_match.url_name == 'update_trip' %}update{% else %}create{% endif %}">
          {% crispy form %}
        </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extras %}

<script src="{% static 'js/forms.js' %}"></script>

{% endblock extras %}