{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Trip Header Template Included -->
{% include 'includes/trip_header.html' %}

<!-- Place Summary Section -->
<section class="place-summary mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container p-4">
          <img src="{{ place.image }}" alt="{{ place.name }}" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-container p-4 d-flex flex-column justify-content-between h-100 text-center">
          <h2>{{ place.name }}</h2>
          <form class="d-inline" action="{% url 'toggle_place' trip.id place.id %}" method="POST">
            {% csrf_token %}
            {% if added %}
              <div class="vstack gap-3">
                <button type="submit" name="place_id" value="{{place.id}}" class="btn-icon"><i class="fa-solid fa-circle-minus fa-4x"></i></i></button>
                <p>Remove From Your Trip</p>
              </div>
            {% else %}
              <div class="vstack gap-3">
                <button type="submit" name="place_id" value="{{place.id}}" class="btn-icon"><i class="fa-solid fa-circle-plus fa-4x"></i></button>
                <p>Add To Your Trip</p>
              </div>
            {% endif %}
          </form>
          <div class="justify-content-center">
            <a href="{% url 'trip_detail' trip.slug trip.id %}" class="btn btn-primary text-light button-link">More Recommendations</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Place Info Template Included -->
{% include 'includes/single_place_info.html' %}

{% endblock %}

{% block extras %}

{{ place.latitude|json_script:"latitude"}}
{{ place.longitude|json_script:"longitude"}}
{{ g_maps_api_key|json_script:"maps-api-key" }}
<!-- <script src="{% static 'js/maps.js' %}"></script> -->
<script src="{% static 'js/solo-display-modals.js' %}"></script>

{% endblock extras %}