{% extends "base.html" %}
{% block head_title %} Recommended Places {% endblock %}
{% block content %}

{% load static %}

<!-- Place Summary Template Included-->
{% include 'includes/place_summary.html' %}

<!-- Place Info Template Included -->
{% include 'includes/single_place_info.html' %}

{% endblock %}

{% block extras %}

{{ place.latitude|json_script:"latitude"}}
{{ place.longitude|json_script:"longitude"}}
{{ place.name|json_script:"place-name"}}
{{ g_maps_api_key|json_script:"maps-api-key" }}
<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/solo-display-modals.js' %}"></script>
<script src="{% static 'js/star-rating.js' %}"></script>

{% endblock extras %}