{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Trip Summary -->
{% include 'includes/trip_header.html' %}

<!-- Place Summary Section -->
<section class="place-summary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
          <img src="{{ place.image }}" alt="{{ place.name }}" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-container p-4 d-flex flex-column justify-content-between h-100 mb-5">
          <h1>{{ place.name }}</h1>
          <form class="d-inline" action="{% url 'toggle_place' trip.id place.id %}" method="POST">
            {% csrf_token %}
            {% if added %}
              <button type="submit" name="place_id" value="{{place.id}}" class="btn-like"><i class="fa-solid fa-minus"></i></button>
              <span>Remove From Your Trip</span>
            {% else %}
            <button type="submit" name="place_id" value="{{place.id}}" class="btn-like"><i class="fa-solid fa-plus"></i></button>
            <span>Add To Your Trip</span>
            {% endif %}
          </form>
          <button class="btn btn-primary">
            <a href="{% url 'trip_detail' trip.slug trip.id %}">View More Recommendations</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Place Info Section-->
<section class="place-info">
  <div class="container">
    <!-- Place Info Tabs -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">Details</button>
        <button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</button>
        <button class="nav-link" id="nav-gallery-tab" data-bs-toggle="tab" data-bs-target="#nav-gallery" type="button" role="tab" aria-controls="nav-gallery" aria-selected="false">Gallery</button>
      </div>
    </nav>
    <!-- Place Info Tab Content -->
    <div class="tab-content" id="nav-tabContent">
      <!-- Place Details Tab Content-->
      <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
        <div class="row">
          <div class="col-12">
            <div class="text-container p-4 mb-5">
              <p class="lead">
                {{ place.description }}
              </p>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            MAP
          </div>
          <div class="col-md-6">
            <div class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5">
              <h2 class="fw-bold"> Location</h2>
              {% for key, value in place.address.items %}
                {% if not value == "" %}
                  <p> {{ value }} </p> 
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Place Reviews Tab Content -->
      <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Review Carousel -->
              <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for review in reviews %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                      <img src="" alt="" class="rounded-circle">
                      <p class="w-50 my-4 fst-italic fs-4 mb-4">
                        {{review.body}}    
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <!-- Carousel Buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
                  <i class="fas fa-arrow-circle-left fa-3x text-secondary"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
                  <i class="fas fa-arrow-circle-right fa-3x text-secondary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Place Gallery Tab Content -->
      <div class="tab-pane fade" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab">
        <div class="row">
          {% for image in images %}
          <div class="col-md-4">
            <div class="image-container">
              <img src="{{ image.path.url }}" alt="" class="img-fluid">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>




<div>
  <a href="{% url 'add_image' trip.slug trip.id place.id %}">View All Images</a>
</div>



<div>
    <a href="{% url 'trip_detail' trip.slug trip.id %}">Back to your trip</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this review?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extras %}

{% endblock extras %}