{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Trip Summary -->
{% include 'includes/trip_header.html' %}

{% load crispy_forms_tags %}

<section id="reviews" class="reviews mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="image-container">
                    <img src="{% static 'images/map-photo-memories-1500x1000-compress.webp'%}" alt="" class="img-fluid d-none d-lg-block">
                </div>
            </div>
            <div class="col-lg-5 card mt-4">
                {% crispy review_form %}
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-lg-4">
                    <a data-bs-toggle="modal" data-bs-target="#modal-user-review" class="btn btn-primary">
                        Read More...
                        <div class="user-review card mb-4 text-center" review_id="{{ review.id }}">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <p id="review-body{{ review.id }}" class=" card-text {% if not review.approved and review.profile == request.user.profile %} faded {% elif not.review.approved %} d-none{% endif %}">{{review.body}}</p>
                                {% if user.is_authenticated and review.profile.id == user.profile.id %}
                                <button class="btn btn-edit" review_id="{{ review.id }}" review_rating="{{ review.user_rating }}">Edit</button>
                                <button class="btn btn-delete" review_id="{{ review.id }}" data-bs-toggle="modal" data-bs-target="#modal-review-delete" >Delete</button> 
                                {% endif %}   
                            </div>
                            <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
                                <div>{{ review.created_on }}</div>
                                <div>{{ review.profile.screen_name}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="card">
    <img src="" alt="" class="card-img-top img-fluid planner-opaque">
    <div class="card-img-overlay">
        <h3>{{ review.place.name }}</h3>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column justify-content-between px-4 gap-4 my-4">
            <a data-bs-toggle="modal" data-bs-target="#modal-user-review" class="btn btn-primary">

            </a>
        </div>
    </div>
</div>

<!-- TEMPLATE FROM TRIP DETAIL PAGE -->
<div class="card border-0">
    <img class="planner-opaque img-fluid" src="{{ place.image }}" alt="{{ place.name }}">
    <div class="card-img-overlay">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <a class="stretched-link display-5" href="{% url 'place_detail' trip.slug trip.id place.id %}">View Details</a>  
        </div>
    </div>
</div>
<div class="d-flex flex-column justify-content-between px-4 gap-4 my-4">
    <div class="card border-0 align-items-center">
        <i class="fa-solid fa-circle-xmark fa-4x"></i>
        <div class="card-body">
            <a class="delete-planner-item stretched-link align-self-center" trip_id="{{ trip.id }}" place_id="{{ place.id }}" 
            place_name="{{ place.name }}" data-bs-toggle="modal" data-bs-target="#modal-item-delete-confirm">
            Remove From Planner  
            </a>     
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="card border-0">
            <i class="fa-solid fa-pen-to-square fa-2x align-self-center"></i>
            <div class="card-body">
                <a href="{% url 'review' trip.slug trip.id place.id %}" class="stretched-link">Leave A Review</a>
            </div>
        </div>
        <div class="card border-0">
            <i class="fa-solid fa-camera fa-2x align-self-center"></i>
            <div class="card-body">
                <a class="stretched-link" href="{% url 'add_image' trip.slug trip.id place.id %}">Upload Image</a> 
            </div>
        </div>         
    </div>
<



<!-- MODALS -->

<div id="modal-user-review" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
      <div class="modal-content bg-primary p-5">
        <div class="row">
            <div class="col-4">
                <!-- <img id="solo-review-profile" src="" class="rounded-circle" width="120" alt="User Profile Image"> -->
            </div>
            <div class="col-8">
                <h5 id="user-review-title" class="card-title text-center"></h5>
            </div>
            <div class="col-12">
                <p id="user-review-body"></p>
            </div>
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>

<!-- Delete Review Modal -->

<div id="modal-review-delete" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/reviews.js' %}"></script>
    <script src="{% static 'js/solo-display-modals.js' %}"></script>
{% endblock extras %}