{% extends "base.html" %}
{% block head_title %} Your Reviews {% endblock %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Write/edit review -->
<section id="write-review"
         class="reviews mt-7 mb-5">
  <div class="container">
    <div class="row mb-2">
      <div class="action-title d-flex justify-content-between align-items-center p-2">
        <h2 class="mb-0">
          <span class="pb-3 d-block d-lg-inline">
            <i class="fa-solid fa-comment-dots"></i>&ensp;
          </span><span id="review-heading">Add a</span> review for <span id="review-place">{{ place.name }}</span>
        </h2>
        <a class="btn btn-dark button-link align-self-center button-transform"
           href="{% url 'trip_detail' trip.slug trip.id %}">
          <span>
            <i class="fa-solid fa-left-long"></i>&ensp;
          </span>Your&nbsp;Trip
        </a>
      </div>
      <hr>
    </div>
    <div class="row mb-4">
      <div class="col-lg-7 d-flex flex-column justify-content-center gap-4">
        <div class="image-container">
          <img src="{% static 'images/map-photo-memories-1500x1000-compress.webp'%}"
               alt="Polaroid pictures scattered across a map"
               class="img-fluid d-none d-lg-block">
        </div>
      </div>
      <!-- Review Form -->
      <div class="col-lg-5 d-flex flex-column justify-content-center">
        {% crispy review_form %}
      </div>
    </div>
  </div>
</section>

{% if request.user.profile.reviews.count > 0 %}
<!-- List of user reviews -->
<section id="reviews-list"
         class="mb-5">
  <div class="container">
    <div class="row">
      <h2 class="action-title">
        <span><i class="fa-solid fa-folder-open"></i>&ensp;</span>Your Reviews
      </h2>
      <hr>
    </div>
    <div class="row">
      {% for review in reviews %}
        <div class="col-lg-4 d-flex flex-column justify-content-between gy-4">
          <!-- Include Review Card -->
          {% include 'includes/review_cards.html' %}
          {% if user.is_authenticated and review.profile.id == user.profile.id %}
            <div class="d-flex justify-content-between bg-primary rounded mt-2">
              <a href="#top"
                class="btn btn-edit text-light"
                data-review_id="{{ review.id }}"
                data-place_name="{{ review.place.name }}"
                aria-label="Edit this review"
              >
                <i class="fa-solid fa-pencil fa-2x transform-dark"></i>
              </a>
              <button class="btn btn-delete text-light"
                      data-target_id="{{ review.id }}"
                      data-task="delete_review"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-delete-confirm"
                      aria-label="Delete this review">
                <i class="fa-solid fa-trash-can fa-2x transform-dark"></i>
              </button>
            </div>
          {% endif %} 
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<!-- Review Solo Modal Included -->
{% include 'includes/review_solo_modal.html' %}

<!-- Delete Confirm Modal Included -->
{% include 'includes/delete_confirm_modal.html' %}

{% endblock %}

{% block extras %}

<script src="{% static 'js/delete-confirm-modals.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/solo-display-modals.js' %}"></script>

{% endblock extras %}