{% extends "base.html" %}

{% block content %}

<!-- Trip Summary -->
{% include 'includes/trip_header.html' %}

{% load crispy_forms_tags %}




<section id="reviews" class="reviews mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 card mt-4">
                {% crispy review_form %}
            </div>
            <div class="col-lg-7 mt-4">
                {% for review in reviews %}
                    <div class="card mb-4 text-center">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <p id="review{{ review.id }}" class=" card-text {% if not review.approved and review.profile == request.user.profile %} faded {% elif not.review.approved %} d-none{% endif %}">{{review.body}}</p>
                            {% if user.is_authenticated and review.profile.id == user.profile.id %}
                            <button class="btn btn-edit" review_id="{{ review.id }}" review_rating="{{ review.user_rating }}">Edit</button>
                            <button class="btn btn-delete" review_id="{{ review.id }}" data-bs-toggle="modal" data-bs-target="#modal-review-delete" >Delete</button> 
                            {% endif %}   
                        </div>
                        <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
                            <div>{{ review.created_on }}</div>
                            <div>{{ review.profile.screen_name}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</section>

<!-- <div>
    {% for review in reviews %}
   
        <div id="review{{ review.id }}" class="{% if not review.approved and review.profile == request.user.profile %} faded {% elif not.review.approved %} d-none{% endif %}">{{review.body}}</div>
        <div id="rating_review{{ review.user_rating }}"> {{review.user_rating}}</div>
        
        {% if user.is_authenticated and review.profile.id == user.profile.id %}

        <button class="btn btn-edit" review_id="{{ review.id }}" review_rating="{{ review.user_rating }}">Edit</button>
        <button class="btn btn-delete" review_id="{{ review.id }}" data-bs-toggle="modal" data-bs-target="#modal-review-delete" >Delete</button>
        
        {% endif %}

    {% endfor %}


</div> -->

<!-- Delete Review Modal -->

<div id="modal-review-delete" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    {% load static %}
    <script src="{% static 'js/reviews.js' %}"></script>
{% endblock extras %}