{% extends "base.html" %}

{% block content %}
{% load static %}

<section id="trips">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-container p-4 d-flex flex-column justify-content-center h-100 my-5 text-center">
                    {% if trip_list.count == 0 and not request.user.profile.screen_name %}
                        <a href="{% url 'update_profile' request.user.profile.id %}">Make A Profile</a>
                    {% elif trip_list.count == 0 %}
                    <h1>
                        Plan Your First Trip...
                    </h1>
                    <div>
                        <a href="{% url 'create_trip' %}"><i class="fa-solid fa-plus fa-xl"></i></a>
                    </div>
                    {% else %}
                    <h1>
                        Where to Next??...
                    </h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="image-container px-4">
                    <img src="{% static 'images/yellow-van-1500x1000-compress.webp'%}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-5">
                <div class="text-container d-flex flex-column justify-content-center h-100 mb-5 px-4">
                    <h3 class="display-6 text-center">Need Inspiration?</h3>
                    <i class="fa-solid fa-passport fa-xl p-4 text-center"></i>
                    <p>Be inspired by the trips that have already been mapped out on PlanIt Go. All it takes is a spark, so let your imagination run free...</p>
                    <a href="#browse" class="btn btn-primary">Browse Trips</a>
                </div>
            </div>
        </div>
        {% if trip_list.count > 0 %}
        <div class="row">
            {% for trip in trip_list %}
                <div class="col-md-4">
                    <div class="card border-0">
                        <a href="{% url 'trip_detail' trip.slug trip.id%}">
                            {% if 'placeholder' in trip.trip_image.url %}
                            <img src="{% static 'images/placeholders/trip-placeholder-globe-in-hand.webp' %}" alt="" class="card-img-top">
                            {% else %}
                            <img src="{{trip.trip_image}}" alt="">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ trip.title }}</h5>
                            </div>
                        </a> 
                    </div>
                </div>
            {% endfor %}    
        </div>
        {% else %}
            
        {% endif %}
    </div>
</section>

{% endblock %}