{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<h1>TRIP RECOMMENDED</h1>

<div>
    {{ trip.title }}
</div>

<div>
    {{ trip.number_of_places }}
</div>

<div>
    <a href="{% url 'trip_detail' trip.slug trip.id %}">View Your Trip Itinerary</a>
</div>

<ul>
    {% for place in places %}
        <li>{{ place.name }} Rank: {{ place.ranking_position }}</li>
        <form class="d-inline" action="{% url 'add_place' trip.id place.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="place_id" value="{{place.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
        </form>

        <form>
            {% crispy review_form %}
            <input type="hidden" name="place_id" value="{{place.id}}">

        </form>
        

        

        {% for review in reviews %}
            {% if review.place.id == place.id %}
                <div>
                    {{review.body}}
                </div>
            {% endif %}
        {% endfor %}

    {% endfor %}
</ul>



{% endblock %}