{% extends "base.html" %}

{% block content %}

<!-- Trip Summary -->
{% include 'includes/trip_header.html' %}


<!-- Trip Planner -->
<section class="trip-planner">
    <div class="container">
        <div class="row my-3">
            <div class="col-lg-7">
                <div id="map"></div>
            </div>
            <div class="col-lg-5 d-flex flex-column">
                <h2 class="text-center">Your Planner</h2>
                <div class="accordion accordion-flush" id="planner-accordion">
                    {% for place in trip.places.all %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-{{ forloop.counter }}">
                                <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ forloop.counter }}" aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}" aria-controls="flush-collapse-{{ forloop.counter }}">
                                    {{ place.name }}
                                </button>
                            </h2>
                            <div id="flush-collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ forloop.counter }}" data-bs-parent="#planner-accordion">
                                <div class="accordion-body bg-light">
                                    <div class="d-flex flex-column">
                                        <div class="card border-0">
                                            <img class="planner-opaque img-fluid" src="{{ place.image }}" alt="{{ place.name }}">
                                            <div class="card-img-overlay">
                                                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                                    <a class="stretched-link display-5" href="{% url 'place_detail' trip.slug trip.id place.id %}">View Details</a>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column justify-content-between px-4 gap-2 mt-2 mb-4">
                                            <a class="delete-planner-item" trip_id="{{ trip.id }}" place_id="{{ place.id }}" place_name="{{ place.name }}" data-bs-toggle="modal" data-bs-target="#modal-item-delete-confirm">
                                                <i class="fa-solid fa-circle-xmark fa-4x"></i>
                                            </a>
                                            <div class="d-flex justify-content-between">
                                                <a href="{% url 'review' trip.slug trip.id place.id %}" class="btn btn-dark">Review</a>
                                                <a href="{% url 'add_image' trip.slug trip.id place.id %}" class="btn btn-dark">Upload Image</a>         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>   
    </div>
</section>

<!-- Recommendations Paginated -->
<section class="recommendations">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h2>Recommendations For Your Trip</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="row gy-3">
                    {% for place in places %}
                    <div class="col-md-4">
                        <div class="card text-center border-0 h-100">
                            <img class="card-img-top img-fluid img-size-consistent" src="{{ place.image }}" alt="{{ place.name }}">
                            <div class="card-body">
                                <h3>{{ place.name }}</h3>
                            </div>
                            <a class="stretched-link" href="{% url 'place_detail' trip.slug trip.id place.id %}"></a>
                        </div>
                    </div>
                    {% endfor %}     
                </div>  
            </div>
        </div>
        <nav aria-label=" recommendations page navigation">
            <ul class="pagination justify-content-center">
                {% if places.has_previous %}
                <li class="page-item"><a href="?page={{ places.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if places.has_next %}
                <li class="page-item"><a href="?page={{ places.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

{% for g in geo_data %}
    <div>
        {{ g.latitude}}
        {{ g.longitude}}
    </div>
    
{% endfor %}

<!-- Planner Item Delete Confirm Modal -->
<div id="modal-item-delete-confirm" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
      <div class="modal-content bg-primary p-5">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-between">
            <p>Are you sure you want to delete <span id="item-place"></span> from your trip?</p>
            <form id="item-delete-form" class="align-self-center" action="" method="POST">
                {% csrf_token %}
                <button id="item-delete-confirm" type="submit" name="place_id" value="" class="btn btn-primary btn-icon"><i class="fa-solid fa-circle-xmark fa-4x"></i></button>
            </form>
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extras %}


{{ trip.location.latitude|json_script:"latitude"}}
{{ trip.location.longitude|json_script:"longitude"}}
{{ geo_list|json_script:"geo_list"}}
{{ g_maps_api_key|json_script:"maps-api-key" }}

{% load static %}
<!-- <script src="{% static 'js/map-cluster.js' %}"></script> -->
<script src="{% static 'js/delete-confirm-modals.js' %}"></script>

{% endblock extras %}