{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Load Trip Header Template -->
{% include 'includes/trip_header.html' %}

<!-- Trip Planner -->
{% if trip.places.count > 0 %}
  <section class="trip-planner">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12 medium-w-75">
          <div class="card border-0">
            <div class="card-header border">
              <h2 class="text-center"><span><i
                    class="fa-solid fa-note-sticky"></i>&nbsp&nbsp</span>Trip
                Itinerary</h2>
            </div>
            <div class="accordion accordion-flush border-0" id="planner-accordion">
              {% for place in trip.places.all %}
              <div class="accordion-item">
                <h2 class="accordion-header"
                  id="flush-heading-{{ forloop.counter }}">
                  <button class="accordion-button collapsed text-light"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse-{{ forloop.counter }}"
                    aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}"
                    aria-controls="flush-collapse-{{ forloop.counter }}">
                    <h4>{{ place.name }}</h4>
                  </button>
                </h2>
                <div id="flush-collapse-{{ forloop.counter }}"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-heading-{{ forloop.counter }}"
                  data-bs-parent="#planner-accordion">
                  <div class="accordion-body">
                    <div class="d-flex flex-column">
                      <div class="card border-0">
                        <img class="opaque-image img-fluid"
                          src="{{ place.image }}" alt="{{ place.name }}">
                        <div class="card-img-overlay">
                          <div
                            class="d-flex flex-column justify-content-center align-items-center h-100">
                            <a class="stretched-link display-5"
                              href="{% url 'place_detail' trip.slug trip.id place.id %}">
                              <i class="fa-solid fa-circle-info fa-3x"></i>
                              </a>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-column justify-content-between px-4 gap-4 my-4 bg-secondary">
                        <div
                          class="card border-0 align-items-center bg-secondary">
                          <i class="fa-solid fa-circle-xmark fa-4x"></i>
                          <div class="card-body">
                            <a class="delete-planner-item stretched-link align-self-center"
                              trip_id="{{ trip.id }}" place_id="{{ place.id }}"
                              place_name="{{ place.name }}"
                              data-bs-toggle="modal"
                              data-bs-target="#modal-item-delete-confirm">
                              Remove From Planner
                            </a>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="card border-0 bg-secondary">
                            <i
                              class="fa-solid fa-pen-to-square fa-3x align-self-center"></i>
                            <div class="card-body">
                              <a href="{% url 'review' trip.slug trip.id place.id %}"
                                class="stretched-link">Leave A Review</a>
                            </div>
                          </div>
                          <div class="card border-0 bg-secondary">
                            <i
                              class="fa-solid fa-camera fa-3x align-self-center"></i>
                            <div class="card-body">
                              <a class="stretched-link"
                                href="{% url 'add_image' trip.slug trip.id place.id %}">Upload
                                Image</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- Recommendations Paginated -->
<section class="recommendations">
    <div class="container">
      <div class="row">
        <h3 class="display-6"><span><i class="fa-solid fa-heart"></i>&nbsp&nbsp</span>Recommended Places</h3>
        <hr />
      </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="row gy-3">
                    {% for place in places %}
                    <div class="col-md-4">
                        <div class="card border-0 bg-secondary text-center h-100 image-clickable">
                            <img class="card-img-top img-fluid img-size-consistent" src="{{ place.image }}" alt="{{ place.name }}">
                            <div class="card-body">
                                <h3>{{ place.name }}</h3>
                            </div>
                            <a class="stretched-link" href="{% url 'place_detail' trip.slug trip.id place.id %}"></a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}     
                </div>
            </div>
        </div>
        <!-- Pagination Controls -->
        <nav aria-label=" place list page navigation">
            <ul class="pagination justify-content-center">
                {% if places.has_previous %}
                <li class="page-item"><a href="?page={{ places.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if places.has_next %}
                <li class="page-item"><a href="?page={{ places.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

{% for g in geo_data %}
    <div>
        {{ g.latitude}}
        {{ g.longitude}}
    </div>
    
{% endfor %}

<!-- Planner Item Delete Confirm Modal -->
<div id="modal-item-delete-confirm" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
      <div class="modal-content bg-primary p-5">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-between">
            <p>Are you sure you want to delete <span id="item-place"></span> from your trip?</p>
            <form id="item-delete-form" class="align-self-center" action="" method="POST">
                {% csrf_token %}
                <button id="item-delete-confirm" type="submit" name="place_id" value="" class="btn btn-primary btn-icon"><i class="fa-solid fa-circle-xmark fa-4x"></i></button>
            </form>
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extras %}


{{ trip.location.latitude|json_script:"latitude"}}
{{ trip.location.longitude|json_script:"longitude"}}
{{ geo_list|json_script:"geo_list"}}
{{ g_maps_api_key|json_script:"maps-api-key" }}

{% load static %}
<script src="{% static 'js/map-cluster.js' %}"></script>
<script src="{% static 'js/delete-confirm-modals.js' %}"></script>

{% endblock extras %}