{% extends "base.html" %}

{% block content %}

<h1>TRIP RECOMMENDED</h1>

<div>
    {{ trip.title }}
</div>

<div>
    {{ trip.number_of_places }}
</div>

<div>
    <a href="{% url 'trip_detail' trip.slug trip.id %}">View Your Trip Itinerary</a>
</div>

<ul>
    {% for place in places %}
        <li><a href="{% url 'place_detail' trip.slug trip.id place.id %}">{{ place.name }}</a></li>

        <form class="d-inline" action="{% url 'toggle_place' trip.id place.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="place_id" value="{{place.id}}" class="btn-like"><i class="fas fa-heart"></i></button>
        </form>

    {% endfor %}
</ul>



{% endblock %}