{% extends "base.html" %}

{% block content %}

<h1>TRIP DETAILS</h1>

<div>
    {{ trip.title }}
</div>

<div>
    {{ trip.number_of_places }}
</div>

<div>
    <ul>
        {% for place in trip.places.all %}
            <li>{{ place }}</li>
        {% endfor %}    
    </ul>
</div>

<div>
    <a href="{% url 'trip_recommendations' trip.slug trip.id %}">View Place Recommendations</a>
</div>

<div>
    <a href="{% url 'trip_list' %}">View All Your Trips</a>
</div>

<div>
    <a href="{% url 'update_trip' trip.slug trip.id %}">Update Trip Details</a>
</div>


{% endblock %}