@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300;500;700&family=Source+Sans+Pro:wght@400;700&display=fallback");
/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* Header */
/* .header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/static/images/hero/map-pins-hero-1500x1000-compress.webp") left center no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
} */

/* Trip Header */
/* .trip-bg-image {
  background: url("/static/images/placeholders/trip-placeholder-globe-in-hand.webp") left center;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
} */

.btn-icon {
  color: var(--bs-dark);
  border: none;
  background: transparent;
}

.button-link {
  width: fit-content;
}

/* Card Images */
.img-size-consistent {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.image-clickable:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Planner */
.opaque-image {
  opacity: 0.5;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.accordion-flush .accordion-collapse {
  border-color: var(--bs-primary);
  border-width: var(--bs-border-width);
  border-style: solid;
}

/* Maps */
#map {
  height: 600px;
}

/* Media queries for mobile devices from 767px and down increases height to value 50% of viewport width*/
@media only screen and (max-width: 767px) {
  .img-size-consistent {
    height: 50vw;
  }
}
