@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300;500;700&family=Source+Sans+Pro:wght@400;700&display=fallback');

/* Global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navbar */

.navbar {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

/* Header */

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/static/images/hero/map-pins-hero-1500x1000-compress.webp") left center no-repeat;
    background-size: cover;
    height: 600px;
}

/* Trip Header */

.trip-bg-image{
    background: url('/static/images/placeholders/trip-placeholder-globe-in-hand.webp') left center no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 600px;
}

.btn-trip-add{
    color: var(--bs-dark);
    border: none;
    background: transparent;
}

.button-link{
    width: fit-content;
}

/* Card Images */

.img-size-consistent {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* Maps */

#map {
    height: 600px;
}

/* Media queries for mobile devices from 767px and down increases height to value 50% of viewport width*/

@media only screen and (max-width: 767px) {
    .card-img-top {
        height: 50vw;
    }    
}