{% extends "base.html" %}
{% block head_title %} Retrieve Places {% endblock %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Retrieve Places -->
<section id="get-places"
         class="mt-7">
  <div class="container">
    <div class="row mb-2 align-items-center">
      <div class="action-title d-flex justify-content-between align-items-center p-2">
        <h2 class="mb-0">
          <span>
            <i class="fa-solid fa-magnifying-glass-location"></i>&ensp;
          </span>Retrieve places for {{ location.city }}
        </h2>
        <a class="btn btn-dark button-link align-self-center"
           href="{% url 'locations' %}">
          <span>
            <i class="fa-solid fa-angles-left"></i>&ensp;
          </span>Back To Destinations
        </a>
      </div>
      <hr>
    </div>
    <div class="row mb-5">
      <div class="col-lg-7">
        <div class="img-container">
          <img src="{% static 'images/magnifying-glass-map-1500x1000-compress.webp'%}"
               alt="A magnifying glass sits on a world map"
               class="img-fluid rounded">
        </div>
      </div>
      <div class="col-lg-5 d-flex flex-column justify-content-center gap-4">
          <div class="bg-secondary rounded p-4">
            <p class="text-center">It looks like we don't currently have any places stored for
              {{ location.city }}. Go ahead and see if there are any avaialble
              to retrieve.
            </p>
          </div>
        <!-- Retrieve Places Form -->  
        <div id="form-container">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extras %}

{% endblock extras %}
