{% extends "base.html" %}

{% block content %}

<h1> GALLERY </h1>

<div>
    {{ place.name }}
</div>

<div>
    {% for image in images %}
        <img src="{{ image.path.url }}">

        {% if user.is_authenticated and image.profile.id == user.profile.id %}

        <button class="btn btn-delete" image_id="{{ image.id }}" data-toggle="modal" data-target="#exampleModal">Delete</button>

        {% endif %}

    {% endfor %}
</div>

{% load crispy_forms_tags %}

{% crispy form %}

{% include 'includes/modal_confirm.html' %}

{% endblock %}

{% block extras %}
{% load static %}
<script src="{% static 'js/delete-confirm-modals.js' %}"></script>
{% endblock extras %}