<!-- Delete Confirm Modal -->

<div id="modal-delete-confirm" class="modal fade">
  <div class="modal-dialog modal-lg">
      <div class="modal-content p-5">
          <div class="modal-body">
              Are you sure you want to delete this?
          </div>
          <div class="modal-footer">
              <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
              <a id="delete-confirm" href="#" class="btn btn-danger">Delete</a>
          </div>
      </div>
  </div>
</div>