{% load static %}
<!-- Destination Card Display -->
<div class="destination-city-mini card border-0 bg-secondary text-center h-100">
  <button data-bs-toggle="modal"
     data-bs-target="#modal-destination-info"
     class="image-clickable border-0">
    {% if 'placeholder' in destination.image.url %}
      <img class="card-img-top img-fluid img-size-consistent"
          src="{% static 'images/placeholders/trip-placeholder-globe-in-hand.webp' %}"
          alt="{{ destination.name }}"
          data-destination_id="{{ destination.id }}"
          data-destination_slug="{{ destination.slug }}"
          data-destination_summary="{{ destination.summary}}">
    {% else %}
      <img class="destination-image card-img-top img-fluid img-size-consistent"
          src="{{ destination.image.url }}"
          alt="{{ destination.city }}"
          data-destination_id="{{ destination.id }}"
          data-destination_slug="{{ destination.slug }}"
          data-destination_summary="{{ destination.summary}}">
    {% endif %}
</button>
  <div id="destination-city{{destination.id}}"
       class="card-body">
    <h3>{{destination.city}}</h3>
  </div>
  {% if user.is_authenticated and request.user.is_staff %}
    <div class=" {% if request.resolver_match.url_name != 'home' %} d-flex justify-content-between px-4 pb-4 {% else %} d-none {% endif %}">
      <a href="{% url 'update_destination' destination.id destination.slug %}"
         aria-label="Edit details of this destination"
      >
        <i class="ps-2 fa-solid fa-pencil fa-2x"></i>
      </a>
      <a href="{% if destination.places.count > 0 %} {% url 'place_list' destination.id destination.slug %} {% else %} {% url 'get_places' destination.id destination.slug %} {% endif %}"
         aria-label="Retrieve places for this destination"
      >
        <i class="pe-2 fa-solid fa-magnifying-glass-location fa-2x"></i>
      </a>
    </div>
  {% endif %}
</div>
