<!-- Destination Info Modal -->

<div id="modal-destination-info" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
        <div class="modal-content bg-primary p-5">
            <div class="row">
                <div class="col-12">
                    <div class="destination-container d-flex flex-column justify-content-between h-100">
                        <div class="d-flex justify-content-between">
                            <h1 id="destination-city"></h1>
                            <a id="trip-ideas" href="" class="btn btn-primary">Trip Ideas</a>      
                        </div>
                        
                        <img id="destination-image" src="" alt="" class="img-fluid">
                        <p id="destination-summary"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-light" data-bs-dismiss="modal">Close</button> 
                </div>    
            </div>
        </div>
    </div>
</div>