<!-- Destination Info Modal -->
<div id="modal-destination-info"
     class="modal fade">
  <div class="modal-dialog modal-lg mt-7">
    <div class="modal-content p-5">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card border-0">
            <div class="card-header border-0 bg-secondary py-3">
              <div class="d-flex justify-content-between">
                <h2 id="destination-city"
                    class="display-5"></h2>
                <a id="trip-ideas"
                   href=""
                   class="btn btn-dark button-link align-self-center">Trip Ideas</a>
              </div>
            </div>
            <img id="destination-image"
                 src=""
                 alt=""
                 class="img-fluid">
            <div class="card-body bg-secondary">
              <p id="destination-summary"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-icon"
                  data-bs-dismiss="modal">
            <i class="fa-solid fa-circle-xmark fa-4x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>