<!-- Modal File Size Warning-->
<div id="modal-file-warning"
     class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5">
      <div class="modal-body">
        <p class="lead m-0"><span class="fw-bold">Sorry!</span>&ensp;File size must be less than 2MB.&ensp;Please select another image.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark text-light"
                data-bs-dismiss="modal"
                aria-label="Click to confirm delete">Close</button> 
      </div>
    </div>
  </div>
</div>