<!-- Footer Starts -->
<footer class="mt-auto bg-secondary">
  <div class="container">
    <div class="row">
      <div class="social-links d-flex justify-content-center pt-4 gap-4">
        <a href="http://facebook.com" class="link-transform" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook fa-2x"></i></a>
        <a href="http://twitter.com" class="link-transform" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-square-x-twitter fa-2x"></i></a>
        <a href="http://instagram.com" class="link-transform" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram fa-2x"></i></a>
      </div>
    </div>
    <div class="row pb-4">
      <div class="d-flex flex-column justify-content-center pt-2 align-items-center gap-2">
        <p class="lead mb-auto">© rkillickdev</p>
        <a href="https://github.com/rkillickdev/plan-it-go" class="link-transform" target="_blank" rel="noopener" aria-label="Visit the developer's GitHub page (opens in a new tab)">
          <i class="fa-brands fa-github nav-icon fa-2x"></i>
      </a>
      </div>
    </div>
  </div>
</footer>