<!-- Image Solo Modal -->
<div id="modal-image-solo"
     class="modal fade">
  <div class="modal-dialog modal-lg mt-7">
    <div class="modal-content bg-secondary p-5">
      <div class="row mb-4">
        <img id="solo-modal-image"
             src=""
             alt=""
             class="img-fluid">
      </div>
      <div class="row justify-content-center">
        <button class="btn button-link"
                data-bs-dismiss="modal">
          <i class="fa-solid fa-circle-xmark fa-4x"></i>
        </button>
      </div>
    </div>
  </div>
</div>