<!-- Navigation Bar Starts -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <!-- Nav Logo Starts-->
    <a href="index.html" class="navbar-brand">
      <img src="" alt="" width="225" />
    </a>
    <!-- Nav Logo Ends-->
    <!-- Hamburger Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Hamburger Toggler Ends -->
    <!-- Nav Menu Items Start-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link 
          {% if request.resolver_match.url_name == 'home' %} active {% endif %} fw-semibold"
          >Home</a>
        </li>
        {% if user.is_authenticated %}
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a href="{% url 'locations' %}" class="nav-link
                {% if request.resolver_match.url_name == 'add_location' %} active {% endif %} fw-semibold" 
                >Destinations</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link
                {% if request.resolver_match.url_name == 'scrape_places' %} active {% endif %} fw-semibold" 
                >Places</a>
            </li>
          {% else %}
            <li class="nav-item">
              {% if request.user.profile.screen_name %}
              <a href="{% url 'profile_detail' request.user.profile.id %}" class="nav-link
              {% if request.resolver_match.url_name == 'profile_detail' %} active {% endif %} fw-semibold"  
              >Profile</a>
              {% else %}
              <a href="{% url 'trip_list' %}" class="nav-link fw-semibold">Profile</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a href="{% url 'trip_list' %}" class="nav-link
                {% if request.resolver_match.url_name == 'trip_list' %} active {% endif %} fw-semibold" 
                >My Trips</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link
            {% if request.resolver_match.url_name == 'account_logout' %} active {% endif %} fw-semibold" 
            >Logout</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a href="#trips" class="nav-link fw-semibold">Trips</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link
          {% if request.resolver_match.url_name == 'account_signup' %} active {% endif %} fw-semibold"
          >Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link
          {% if request.resolver_match.url_name == 'account_login' %} active {% endif %} fw-semibold"
          >Login</a>
        </li>
        {% endif %}
      </ul>
      <!-- Nav Menu Items End-->
    </div>
  </div>
</nav>
<!-- Navigation Bar Ends -->


