<form class="d-inline" action="{% url 'toggle_place' trip.id place.id %}" method="POST">
  {% csrf_token %}
  {% if added %}
    <div class="vstack gap-3">
      <button type="submit" name="place_id" value="{{place.id}}" class="btn-icon"><i class="fa-solid fa-circle-minus fa-4x"></i></i></button>
      <p>Remove From Your Trip</p>
    </div>
  {% else %}
    <div class="vstack gap-3">
      <button type="submit" name="place_id" value="{{place.id}}" class="btn-icon"><i class="fa-solid fa-circle-plus fa-4x"></i></button>
      <p>Add To Your Trip</p>
    </div>
  {% endif %}
</form>