<!-- Place toggle add/remove from planner-->
<form class="d-inline"
      action="{% url 'toggle_place' trip.id place.id %}"
      method="POST">
  {% csrf_token %}
  {% if added %}
    <div class="vstack gap-3">
      <button type="submit"
              name="place_id"
              value="{{place.id}}"
              class="btn-icon text-primary"
              aria-labelledby="trip-remove-toggle">
        <i class="fa-solid fa-circle-minus fa-4x transform-reverse"></i>
      </button>
      <p id="trip-remove-toggle"
         class="lead fw-light">Remove From Trip</p>
    </div>
  {% else %}
    <div class="vstack gap-3">
      <button type="submit"
              name="place_id"
              value="{{place.id}}"
              class="btn-icon"
              aria-labelledby="trip-add-toggle">
        <i class="fa-solid fa-circle-plus fa-4x link-transform"></i>
      </button>
      <p id="trip-add-toggle">Add To Your Trip</p>
    </div>
  {% endif %}
</form>