<!-- Planner Item Delete Confirm Modal -->
<div id="modal-item-delete-confirm"
     class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5">
      <div class="modal-body">
        <p class="lead m-0">Are you sure you want to delete <span id="item-place"></span> from your trip?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark text-light"
                data-bs-dismiss="modal"
                aria-label="Click to confirm delete">Close
        </button>
        <form id="item-delete-form"
                class="align-self-center"
                method="POST">
          {% csrf_token %}
          <button id="item-delete-confirm"
                  type="submit"
                  name="place_id"
                  value=""
                  class="btn btn-primary text-light"
                  aria-label="Click to confirm delete">Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</div>