<!-- Review Solo Modal -->

<div id="modal-user-review" class="modal fade">
    <div class="modal-dialog modal-lg mt-7">
      <div class="modal-content bg-primary p-5">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-8">
                <h5 id="user-review-title" class="card-title text-center"></h5>
            </div>
            <div class="col-12">
                <p id="user-review-body"></p>
            </div>
            <button class="btn btn-light" data-bs-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>


    <!-- Review Solo Modal
    <div id="modal-review-solo" class="modal fade">
        <div class="modal-dialog modal-lg mt-7">
          <div class="modal-content bg-primary p-5">
            <div class="row">
              <div class="col-12 d-flex flex-column justify-content-between">
                <div class="card align-items-center">
                  <img id="solo-review-profile" src="" class="rounded-circle" width="120" alt="User Profile Image">
                  <div class="card-body">
                    <h5 id="solo-review-title" class="card-title text-center"></h5>
                    <p id="solo-review-body" class="card-text"></p>
                    <button class="btn btn-light" data-bs-dismiss="modal">Close</button>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->