{% load static %}

<!-- Clickable review card that opens full review in modal -->
<div data-bs-toggle="modal"
        data-bs-target="#modal-user-review"
        class="border-0">
  <div class="user-review card border-0 text-center image-clickable"
       data-review_id="{{ review.id }}">
    <div class="card-header border-0 bg-secondary">
        <div class="row {% if request.resolver_match.url_name == 'place_browse_detail' %} m-auto {% endif %}">
          <div class="image-container p-2">
            {% if 'placeholder' in review.profile.profile_image.url %}
              <img src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                  alt="Inflatable globe with two eyes stuck on"
                  id="review-image{{ review.id }}"
                  class="img-fluid rounded-circle"
                  width="120"
                  height="120">
            {% elif 'placeholder' in trip.trip_image.url %}
              <img src="{% static 'images/placeholders/trip-placeholder-globe-in-hand.webp' %}"
              alt="Inflatable globe with two eyes stuck on"
              id="review-image{{ review.id }}"
              class="img-fluid rounded-circle"
              width="120"
              height="120">
            {% else %}
              <img src="{{ review.profile.profile_image.url }}"
                  alt="picture of {{ profile.screen_name }}"
                  id="review-image{{ review.id }}"
                  class="img-fluid rounded-circle"
                  width="120"
                  height="120">
            {% endif %}
          </div>
          <h3 id="review-profile-name{{ review.id }}"
              class="review-card-text fst-italic p-2">{% if request.resolver_match.url_name == 'review' %}{{ trip.title }}{% else %}{{ review.profile.screen_name}}{% endif %}
          </h3>
        </div>
        <div class="row {% if request.resolver_match.url_name == 'place_browse_detail' %} d-none {% endif %}">
          <h3 id="review-location{{ review.id }}"
              class="review-card-text fw-bold">{{ review.place.name }}
          </h3>
        </div>
    </div>
    <div class="card-body bg-dark">
      <p class="review-card-text lead text-light">
        <span><i class="fa-solid fa-magnifying-glass"></i>&ensp;</span> Read Review
      </p>
      <p id="review-body{{ review.id }}"
         class=" review-card-text card-title d-none {% if not review.approved and review.profile == request.user.profile %} faded {% elif not.review.approved %} d-none{% endif %}">{{review.body}}
      </p>
    </div>
  </div>
</div>