<!-- Review Solo Modal -->

{% load static %}

<div id="modal-user-review" class="modal fade">
  <div class="modal-dialog modal-lg mt-7">
    <div class="modal-content p-5">
      <div class="row mb-4">
        <div class="user-review card border-0 text-center image-clickable"
          review_id="{{ review.id }}">
          <div class="card-header border-0 bg-primary">
            <div class="row">
              <div class="col-md-5">
                <div class="image-container p-2">
                  {% if 'placeholder' in review.profile.profile_image.url %}
                  <img
                    src="{% static 'images/placeholders/globe-profile-face-compress-square.webp' %}"
                    alt="picture of {{ profile.screen_name }}"
                    id="modal-profile-image" class="img-fluid rounded-circle"
                    width="120px">
                  {% else %}
                  <img src="{{ review.profile.profile_image.url }}"
                    alt="picture of {{ profile.screen_name }}"
                    id="modal-profile-image" class="img-fluid rounded-circle"
                    width="120px">
                  {% endif %}
                </div>
                <h4 id="modal-profile-name"
                  class="review-card-text fst-italic p-2"></h4>
              </div>
              <div class="col-md-7 d-flex flex-column justify-content-center">
                <h4 id="modal-location" class="review-card-text display-5">
                  {{ review.place.name }}</h4>
              </div>
            </div>
          </div>
          <div class="card-body bg-secondary">
            <p id="modal-body"
              class=" review-card-text {% if not review.approved and review.profile == request.user.profile %} faded {% elif not.review.approved %} d-none{% endif %}">
            </p>
          </div>
        </div>
        
      </div>
      <div class="row justify-content-center">
        <button class="btn button-link" data-bs-dismiss="modal"><i
          class="fa-solid fa-circle-xmark fa-4x"></i></button>
      </div>
    </div>
  </div>
</div>



