{% load static %}

<!-- Trip Header -->
<section id="trip-summary" class="mt-6 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion accordion-flush" class="trip-details-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                aria-expanded="false" aria-controls="flush-collapseOne">
                <h2 class="text-light display-6"><span><i
                      class="fa-solid fa-location-dot"></i>&nbsp&nbsp</span>{{ trip.location }}
                </h2>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-7 pe-0">
                    <div class="map-container p-4">
                      <div id="map"></div>
                    </div>
                  </div>
                  <div class="col-md-5 d-flex flex-column justify-content-between ps-0">
                    <div class="card border-0 bg-secondary m-4">
                      {% if 'placeholder' in trip.trip_image.url %}
                      {% if 'placeholder' in trip.location.image.url %}
                      <img
                        src="{% static 'images/map-pins-sunlight-1500x1000-compress.webp' %}"
                        alt=""
                        class="card-img-top img-fluid img-size-consistent">
                      {% else %}
                      <img src="{{ trip.location.image.url }}" alt=""
                        class="card-img-top img-fluid img-size-consistent">
                      {% endif %}
                      {% endif %}
                      <div class="card-body">
                        <h3 class="card-title text-center">{{ trip.title }}</h3>
                        <p class="card-text">{{ trip.description }}</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between p-4">
                      <div class="card border-0 bg-secondary">
                        <a href="{% url 'update_trip' trip.slug trip.id %}"><i class="fa-solid fa-pencil anchor-icon"></i></a>
                      </div>
                      <div class="card border-0 bg-secondary">
                            <button class="btn btn-delete" target_id="{{ trip.id }}" task="delete_trip" data-bs-toggle="modal" data-bs-target="#modal-delete-confirm"><i class="fa-solid fa-trash-can fa-3x"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






